{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
    <head>
        {%- block head %}
        <title>{% block title %}{{title|default}}{% endblock title %}</title>

        {%- block metas %}
        {%- endblock metas %}

        {%- block styles %}
            {% block extra_styles %}
            {%- endblock extra_styles %}
        {%- endblock styles %}
        {%- endblock head %}
    </head>
    <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
        {% block navbar %}
        {%- endblock navbar %}
        {% block content -%}
        {%- endblock content %}
        {%- endblock body %}
        {% block scripts %}
        {%- endblock scripts %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}
